## NOTEBOOK for excel file processing

In [151]:
import xlwings as xw
import pandas as pd
import numpy as np

### Utilities

In [ ]:
def

In [230]:
from os import getcwd

In [231]:
getcwd()

'C:\\Python\\Python39\\Scripts'

### Connection with my Excel file

In [218]:
File = r'C:\Users\a535948\OneDrive - Volvo Group\SPP forecast project directory\Database.xlsx'

In [219]:
classeur = xw.Book(File)

In [220]:
TMI = classeur.sheets['TMI']

In [221]:

Data_TMI = pd.DataFrame(np.array(TMI.tables['Table1'].data_body_range.value),
                        columns= TMI.tables['Table1'].header_row_range.value)

In [228]:
Data_TMI

,Country,Weight Segment,Year,Act ISO (source 1),Act ISO (source 2)
0,Argentina,Heavy Duty,1970,NaN,NaN
1,Argentina,Heavy Duty,1971,NaN,NaN
2,Argentina,Heavy Duty,1972,NaN,NaN
3,Argentina,Heavy Duty,1973,NaN,NaN
4,Argentina,Heavy Duty,1974,NaN,NaN
...,...,...,...,...,...
4066,United States - Retail Sales,Medium Duty,2020,70742.0,NaN
4067,United States - Retail Sales,Medium Duty,2021,80138.0,NaN
4068,United States - Retail Sales,Medium Duty,2022,83935.0,NaN
4069,United States - Retail Sales,Medium Duty,2023,99705.0,NaN
4070,United States - Retail Sales,Medium Duty,2024,103556.0,NaN

### I’m making a dataset for 1970–2024, with values per weight segment and per country

In [224]:
## Feature formatting

Data_TMI['Year'] = Data_TMI['Year'].apply(lambda x: int(x))
Data_TMI['Act ISO (source 1)'] = Data_TMI['Act ISO (source 1)'].apply(lambda x: np.nan if x is None else float(x))
Data_TMI['Act ISO (source 2)'] = Data_TMI['Act ISO (source 2)'].apply(lambda x: np.nan if x is None else float(x))

In [225]:
Segments = Data_TMI['Weight Segment'].unique()
Country = Data_TMI['Country'].unique()
Years = Data_TMI['Year'].unique()

In [227]:
##

for segment in Segments:
    for country in Country:

In [ ]:
Data